<div class="container-fluid">
  <section class="navbar row">
    <div class="site-title col-sm-3">
      <h2>Site Title</h3>
    </div>

    <ul class="options col-sm-9">
      <li><a>Log out</a></li>
      <li><a>Search</a></li>
    </ul>
  </section>

  <section class="dashboard">
    <div class="section-header row">
      <h2>{{vm.currentUser.username}} Blogs</h2>
    </div>

    <div class="new-blog row">
      <button class="glyphicon glyphicon-plus btn btn-default"></button>
    </div>

    <div class="user-blogs">
      <div class="filter-blogs row">
        <input ng-change="vm.updateList()"
               ng-model="vm.listFactory.filterValue"
               class="col-sm-offset-1 col-sm-10"
               type="text"
               placeholder="search blogs"/>
      </div>

      <div class="blog-list row">
        <ul class="col-sm-offset-1 col-sm-10">
          <li ng-repeat="blog in vm.userBlogs">{{blog.name}}</li>
        </ul>
      </div>
    </div>
  </section>

</div>
