<div class="sign-in-container container">

  <div class="row header-row">
    <h2>Sign Up</h2>
  </div>

  <form class="form-horizontal sign-in-form">

    <sign-up-form-field ng-repeat="(fieldName, field) in vm.formFields"
                        field="field"
                        update-submittable-status="vm.updateSubmittableStatus"
                        type="'text'"
                        icon="'glyphicon glyphicon-credit-card'">
  </sign-up-form-field>

    <div class="form-group">
      <div class="col-xs-1 col-xs-offset-4">
        <button class="btn btn-danger">Cancel</button>
      </div>
      <div class="col-xs-1 col-xs-offset-1">
        <button ng-disabled="!vm.credentialsSubmittable" class="btn btn-success">Sign Up</button>
      </div>
    </div>
  </form>
</div>
